<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    <ul>
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
    </ul>

    <h1>hello world from ejs</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% dataUser.forEach((element, index)=> {%>
                <tr>
                    <td>
                        <%=element.id%>
                    </td>
                    <td>
                        <%=element.firstName%>
                    </td>
                    <td>
                        <%=element.lastName%>
                    </td>
                    <td>
                        <!-- userDetail -->
                        <a href="userdetails/<%=element.id%>">Details</a>
                        <!-- delete user -->
                        <a href="/delete/<%=element.id%>">Delete</a>
                        <!-- Edit User -->
                        <a href="/edit/<%=element.id%>">Edit</a>


                    </td>
                </tr>
                <% })%>


        </tbody>
    </table>
    <div class="testform">
        <form action="http://localhost:8080/createUser" method="POST">
            firstName: <input type="text" placeholder="firstName" name="firstName">
            LastName: <input type="text" placeholder="LastName" name="LastName">
            Email: <input type="text" placeholder="Email" name="Email">
            Adress: <input type="text" placeholder="Adress" name="Adress">
            <button type="submit">Submit</button>
        </form>
    </div>

    <!-- <%= dataUser %> -->
    <!-- <img src="/image/imgtest.jpg" alt=""> -->
</body>

</html>